body 
	margin 25px
	background-color rgb(240,240,240)
	font-family arial, sans-serif
	font-size 14px

header
	overflow hidden
	background-color #f1f1f1
	padding 20px 10px
	ul
		list-style-type none
		margin 0
		padding 0
	li
		display inline

h1 
	font-size 40px
	font-weight normal
	margin-top 5px

.box
	display flex

#someid 
	color green
